{% include base_path %}

<div class="project-card">
  <a href="{{ post.link }}" target="_blank" rel="noopener noreferrer" class="project-card__link">
    <div class="project-card__thumbnail">
      {% if post.image %}
        <img src="{{ base_path }}/{{ post.image }}" alt="{{ post.title }}">
      {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 0 1 6 3.75h2.25A2.25 2.25 0 0 1 10.5 6v2.25a2.25 2.25 0 0 1-2.25 2.25H6a2.25 2.25 0 0 1-2.25-2.25V6ZM3.75 15.75A2.25 2.25 0 0 1 6 13.5h2.25a2.25 2.25 0 0 1 2.25 2.25V18a2.25 2.25 0 0 1-2.25 2.25H6A2.25 2.25 0 0 1 3.75 18v-2.25ZM13.5 6a2.25 2.25 0 0 1 2.25-2.25H18A2.25 2.25 0 0 1 20.25 6v2.25A2.25 2.25 0 0 1 18 10.5h-2.25a2.25 2.25 0 0 1-2.25-2.25V6ZM13.5 15.75a2.25 2.25 0 0 1 2.25-2.25H18a2.25 2.25 0 0 1 2.25 2.25V18A2.25 2.25 0 0 1 18 20.25h-2.25a2.25 2.25 0 0 1-2.25-2.25v-2.25Z" />
        </svg>
      {% endif %}
    </div>
    <h3 class="project-card__title">{{ post.title }}</h3>
    <p class="project-card__description">{{ post.long_description | default: post.excerpt }}</p>
    <div class="project-card__tags">
      {% for tag in post.tags %}
      <span class="project-card__tag">{{ tag }}</span>
      {% endfor %}
    </div>
    <div class="project-card__arrow">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
      </svg>
    </div>
  </a>
  {% if post.references.size > 0 %}
  <div class="project-card__references">
    <h4 class="project-card__references-heading">Related Publications</h4>
    <ul class="project-card__references-list">
      {% for ref in post.references %}
        {% for pub in site.publications %}
          {% if pub.permalink == ref.permalink %}
          <li>
            <a href="{{ pub.paperurl }}" target="_blank" rel="noopener noreferrer">{{ pub.title }}</a>
            <span class="project-card__references-venue">{{ pub.venue }}, {{ pub.date | date: "%Y" }}</span>
          </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
